DOTENV_PUBLIC_KEY_DEVELOPMENT=''
SUPABASE_URL=''
SUPABASE_ANON_KEY=''
SUPABASE_SERVICE_ROLE_KEY=''
SUPABASE_STORAGE_BUCKET=''
DATABASE_URL=''
DATASETS_BASE_PATH=''
ENVIRONMENT=''
CORS_ORIGINS=''
OPEN_AI_KEY=''
