# dependencies (bun install)
node_modules
**/__pycache__/

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

**/*.sql

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.venv/

!bin/build/
.*_cache

# caches
.eslintcache
.cache
*.tsbuildinfo
lib/**

# local app state
.state/

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
**/.DS_Store

# publish credentials
.env.publish

# dotenvx
.env.keys
.env.*.local
src/exegia/supabase/seeds/*_rows.sql
src/corpora_py.egg-info/
supabase/
!src/shared/supabase/
**/lib/
lib/python/
